<img src="/img/script-bg.png" class="w-100" style="margin-bottom: -10px;" />
<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<img src="/img/logo-white.svg" alt="logo" class="db center mb3 br0" style="width:12rem;">
			</div>

			<div class="flex">
				<ul class="f6 mb3 pr4-l center">
					<li class="mb2"><a href="/" class="no-underline bb">Home</a></li>
					{{ range first 2 (.Site.Menus.primary) }}
	                <li class="mb2">
	                        <a href="{{ .URL }}" class="no-underline bb">
	                            {{ .Name }}
	                        </a>
	                    </li>
	            	{{ end }}

	            </ul>
	            <ul class="f6 mb3 center">
	            	{{ range last 3 (.Site.Menus.primary) }}
	                <li class="mb2">
	                        <a href="{{ .URL }}" class="no-underline bb">
	                            {{ .Name }}
	                        </a>
	                    </li>
	            	{{ end }}
	            </ul>
				<!-- <ul class="f6 mb3 pr4-l center">
					<li class="mb2"><a href="/" class="no-underline bb">Home</a></li>
					<li class="mb2"><a href="/news" class="no-underline bb">News</a></li>
					<li class="mb2"><a href="/events" class="no-underline bb">Events</a></li>
				</ul>
				<ul class="f6 mb3 center">
					<li class="mb2"><a href="/resources" class="no-underline bb">Resources</a></li>
					<li class="mb2"><a href="/about" class="no-underline bb">About Us</a></li>
					<li class="mb2"><a href="/contact" class="no-underline bb">Contact</a></li>
				</ul> -->
			</div>

		</div>
	</div>

</footer>

