
<nav data-nav class="flex justify-between items-center center bg-black divider-grey relative overflow-x-visible">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 mw5 flex-none">
		<img src="/img/logo-white.png" alt="MENATMA logo" class="br0 db mb0 w-100" style="max-width:220px;"/>
	</a>

	<!-- Primary Nav -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 100 80" width="40" height="25" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" width="100" height="8"></rect>
			<rect class="menu-icon-middle mobile-menu-inner" y="30" width="100" height="8"></rect>
			<rect class="menu-icon-bottom mobile-menu-inner" y="60" width="100" height="8"></rect>
		</svg>
	</div>

	<ul class="flex b nav">

		{{ $currentPage := . }}
            {{ range .Site.Menus.primary }}
              {{ if ne .Name "Grants"}}
                {{ if .HasChildren }}
                    <li class="{{ if $currentPage.HasMenuCurrent "primary" . }}active{{ end }}">
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                        <ul class="sub-menu">
                            {{ range .Children }}
                                <li class="{{ if $currentPage.IsMenuCurrent "primary" . }}active{{ end }}">
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                {{ else }}
                    <li class="{{ if $currentPage.HasMenuCurrent "primary" . }}active{{ end }}">
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
              {{ end }}
            {{ end }}
	</ul>

</nav>
<div class="top pv2 bg-black"></div>