{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <div class="f7 mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
      <!-- <div class="f7">Read in {{ .ReadingTime }} minutes</div> -->
    </div>
    <div class="cms mw6">
      <p class="i">{{ .Description }}</p>
      {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ $.Title }}" class="br0" />
      {{ end }}
      <!-- {{ with .Resources.Get .Params.image }}<img src="{{ .RelPermalink }}" alt="{{ $.Title }}" />{{ end }} -->
      {{ .Content }}
    </div>
    {{ if .Params.photos }}
      <div class="center pt3 mw6">
          {{ partial "gallery" (dict "photos" .Params.photos "pageUrl" .Permalink "galleryID" "1") }}
      </div>
    {{ end }}
  </div>
{{ end }}
