<div class="bb b--grey-1">

	<div class="mb3">
      {{ if .Params.image }}
      <div class="mb3">
        <a href="{{.Permalink}}">
          <!-- <img src="{{.Params.image}}" alt="" class="db mb3 center w-100 br0"> -->
          {{ with .Resources.Get .Params.image }}<img src="{{ .RelPermalink }}" alt="{{ .Params.title }}" class="db mb3 center w-100 br0" />{{ end }}
        </a>
      </div>
      {{ end }}
      <div class="w-100 pa2">
        {{ if .Params.pre }}
        <p class="b mb0">{{.pre}}</p>
        {{ end }}
        {{ if .Params.title }}
        <a href="{{.Permalink}}" class="no-underline">
        	<h3 class="f4 b lh-title">{{.Params.title | markdownify}}</h3>
    	</a>
        {{ end }}
        {{ if .Params.subtitle }}
        <h4 class="f6 mb2 lh-title">{{.Params.subtitle | markdownify}}</h4>
        {{ end }}
        {{ if .Description }}
        <p class="cms">{{.Description | markdownify }}</p>
        {{ end }}
      </div>
    </div>
</div>